$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


body, h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #5bc0de;
}
body{
  font-size: 160%;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.full-bg{
  width: 100%;
  max-width: none;
  position: absolute;
  z-index: 1;
}
.main{
  z-index: 999;
  position: relative;
}
/* Space out content a bit */
body {
    padding-top: 40px;
    padding-bottom: 20px;
}
.bio h1, .service h1{
  font-size: 3.75em;
  line-height: 1em;
    margin-bottom: .55em;
}
.resume{
  margin : 20px 0 0 20px;
  padding: 20px 30px;
  font-size: 1.1em;
}
.client-login{
  margin-left: 10px;
  a.btn{
    padding: 5px 10px;
    &:hover{
      transition: all 600ms ease-in;
    }
  }
}
.main{
  height: 840px;
  h1{
    font-size: 4em;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    line-height: 1.24em;
    padding:40px;
    padding-bottom: 30px;
  }
  .btn-callout{
    width: 300px;
    padding: 25px 50px;
    font-size: 1.5em;
    margin: 40px auto;
    display: block;
    text-transform: uppercase;
    background: #5bc0de;
    border-width: .15em;
    border-color: #46b8da;
    transition: background 500ms ease-in;
    &:hover{
      //background: #4876bf;
      background: #1b1b1b;
    }
    @media (min-width: 1300px){
      margin: 5em auto;
    }
  }
}
/* Custom page header */
.brand{
  float: left;
  img{
    margin-top: 7px;
  }
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
h1{
  font-size: 3em;
}
blockquote{
  font-size: 3.65em;
  line-height: 1em;
  font-weight: bold;
}

/* Custom page footer */
.footer .container{
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
#about{
  height: 750px;
  padding: 75px 80px 80px 80px;
  margin: 100px 0;
}
#services{
  height: 800px;
  padding: 95px 80px 80px 80px;
  margin: 200px 0;
  ul{
    margin: 2em 0;
    li{
      font-size: 1.4em;
      line-height: 1.8em;
    }
  }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
.opening{
  //opacity: 0;
  //This corresponded to TweenMax
  padding-top: 115px;
  h2{
    font-size: 4em;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
}
p{
  line-height: 1.5em;
  font-size: 1.3em;
  margin-bottom: 18px;
  padding-right: 20px;
}
.contact{
  margin: 300px 0 200px 0;
  .container{
    padding: 80px;
    padding-top: 58px;
    background: rgba(40,40,40,1);
    background: #282828;
    border-radius: 4px;
    color: white;
  }
  h2{
    font-size: 38px;
    margin-top: 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin-bottom: 30px;
  }

  form{
    .btn-info{
      padding: 14px 0 20;
      margin-top: 30px;
    }
    input{
      height: 52px;

    }
  }
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1170px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    //responsive nav area
    .navbar{
      padding: 1em;
      padding-left: 2em;
    }
}
@media screen and (max-width: 768px) {
    .nav-collapse.in#navbar{
      clear:both;
    }
    img.full-bg{
      width: 140%;
    }
    .nav-collapse.in ul{
      width: 100%;
      float: none !important;
    }
  .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    border-top: 1px solid #269abc;
    border-bottom: 1px solid #269abc;
  }
  .brand img{
    margin-bottom: 6px;
  }
  .opening{
    padding-top: 60px;
  }
  .service h1{
    font-size: 2.8em;
  }
  #about h1{

  }
  #services, #about, .contact .container{
    padding: 15px;
    height: auto;
  }
  blockquote{
    display: none;
  }
  #sub{
    font-size: 2em;
  }
  #sub2{
    font-size: 3em;
  }
  .navbar.navbar-fixed-top .container{
    padding-right: 2em;

  }
  .nav.navbar-nav{
    display: block;
    margin-top: 4em;
  }
}


.fragmentWrapper {
    overflow: hidden;
}

.fragment {
    position: relative;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s
}

.fragment:not(.active) {
    left: 540px;
}

.fragment.active {
    left: 0px;
}
.accent{
  color: #5bc0de;
  font-size: 1.6em;
  text-transform: uppercase;
}
aside h2{
  font-size: 1.3em;
  text-transform: uppercase;
}

.port-row{
  margin: 40px 0;
  figure{
    border: 8px solid $gray-lighter;
    img{
      border: 2px solid #444;
    }
  }
}
//changing text introduction
.intro{
  h1,h2{
    transition: all 1500ms ease-in;
  }
  .interchange{
    display: inline-block;
    span{
      font-style: normal;
      &.is-visible{
        display: inline-block;
      }
    }
  }
}

.intro h1.rotate-1 .interchange span,
.intro h2.rotate-1 .interchange span{
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
}

.intro h1.rotate-1 .interchange span.is-visible,
.intro h2.rotate-1 .interchange span.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
}

.intro h1.rotate-1 .interchange span.is-visible,
.intro h2.rotate-1 .interchange span.is-visible{
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}

.intro h1.rotate-1 span.is-hidden,
.intro h2.rotate-1 span.is-hidden{
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}

@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
/* --------------------------------

xloading-bar

-------------------------------- */
.intro h1.loading-bar span {
  padding: .2em 0;
}
.intro h1.loading-bar .interchange {
  overflow: hidden;
  vertical-align: top;

}
.intro h1.loading-bar .interchange::after {
  /* loading bar */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #0096a7;
  z-index: 2;
  -webkit-transition: width 0.3s -0.1s;
  -moz-transition: width 0.3s -0.1s;
  transition: width 0.3s -0.1s;
}
.intro h1.loading-bar .interchange.is-loading::after {
  width: 100%;
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  transition: width 3s;
}
.intro h1.loading-bar .interchange span {
  top: .2em;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.intro h1.loading-bar .interchange span.is-visible {
  opacity: 1;
  top: 0;
}
.is-hidden{
  display: none;
}

.intro .interchange span{
  display: none;
}
section .container h4{
    margin-bottom: 2em;
}
.bio, .about, .service{
  margin-top: 4.125em;
}
.contact{
  padding-top: 5em;
  margin-top: 3em;
}
.blog-articles{
  p{
    line-height: 1.8em;
  }
  .accent{
    font-size: 2.2em;
    color: #15395b;
    margin: 1.2em 0;
  }
  ul{
    margin: 1.2em 0;
    li{
      line-height: 2em;
    }
  }

}
