<!--<img class="full-bg" src="/images/guitar.jpg" du-parallax y="background" alt="htmelvis large guitar" />-->

<section class="main">
  <div class="opening container">
    <div class="blog-articles bio container">
      <h1 style="text-align: left; padding-left: 0">Empathy based search engine marketing</h1>
      <h4>February 28, 2017 - Ed Wieczorek</h4>
      <section class="row">
        <aside class="col-xs-12 col-md-3 col-lg-3 col-xl-2">
          <!--<img src="images/ed.jpg" alt="Ed Wieczorek" class="img-responsive img-thumbnail" />-->
          <h3>Get in touch</h3>

          <ul>
            <li>
              <a href="http://www.twitter.com/htmelvis">@htmelvis</a>
            </li>
            <li><a href="http://www.github.com/htmelvis">Github</a></li>
            <li><a href="http://www.linkedin.com/profile/view?id=49431203&amp;goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=spm_pic">LinkedIn</a></li>
          </ul>
          <!-- <a href="resume.pdf" class="resume btn btn-info">Download Resume<i class="glyphicon glyphicon-save"></i></a> -->
        </aside>
        <article class="col-xs-12 col-md-8 col-lg-8 col-xl-8">
          <header>
            <h3 class="accent">Engage your users better, and understand their needs</h3>
          </header>
          <p>

            It is easy for in-house digital marketers to sway ideas according to the bias of workers and product creators. Often, owners and executive team-mates have what they “think” the target market is. Incorrect assumptions happen often. Product managers can be "married" away to an idea.  In my experience visual design and improvements of content when relayed from the executive team typically is built to serve them and what they “think” that the user would like. I have seen over and over a misunderstanding of what the user wants to gain from the product or service. In the end, we all want continued growth, satisfied customers, and sales.
          </p>
          <h3 class="accent">How do you grow your audience organically!?</h3>
          <p>Growth in organic search results is directly tied to empathy. Deliver killer content that your customers want to consume. High bounce rates destroy rankings and provide zero assistance to users. Identify and repair these problems. </p>
          <ul>
            <li>Technical Problems? Review your landing pages. </li>
            <li>Don't forget to browse on a phone and tablet. </li>
            <li>Does your content serve a purpose? (No i'm not talking about providing keywords to google)</li>
            <li>Is the content digestable? Have it proofread to find out.</li>
            <li>How is the visual appearance? disgusting? confusing?</li>
          </ul>
          <p>Lowering your bounce rate may seem like a common sense measure but it isn’t always everyone’s first metric to fix. Phones can be the underlying contributor to your high bounce rates. Be sure to check out the
            <a href="https://search.google.com/search-console/mobile-friendly">search friendliness tool</a> on Google.</p>

          <h3 class="accent">Other important factors to look over</h3>
          <ul>
            <li>Is your site mobile friendly? (check the link above)</li>
            <li>Can users navigate your site easily? (no matter what device)</li>
            <li>What are your page load timings?</li>
          </ul>
          <h3>Let's pick up that pace!</h3>
          <br>
          <p>Visual appearance and mobile friendliness help in this instance but my personal favorite metrics are related site performance. The speed at which your site downloads is most often overlooked.  Not all connections, service providers, and hardware are created equal.</p>
          <p>
            Some of the old outdated WordPress sites I've optimized were posting 6s - 8s load times. I don’t know about you but I do not wait for 5s pages to load when I'm on the go on my phone. I quickly will go back to the search engine and move on…chalk one up for a bounce. I commonly use
            <a href="https://developers.google.com/speed/pagespeed/insights/">page speed insights</a> in order to get a good grip on speed related issues.
          </p>
          <h3 class="accent">Use empathy to 10x your returns</h3>
          <p>Put yourself in your user's shoes and try to purchase your product starting from the search engine and see how hard it is to complete. Use your imagination and pretend like you’ve never even read the copy on your SERP and view the components and see how helpful they are in the instance that you need to acquire this product. That can be a huge help when identifying CTR on your SERPs. Does the content match what your end goal was? Did you search for ATVs and end up in a line of motorcycles? Unless those motorbikes changes the customer's mind from buying an ATV to a motorcycle you have a bounce on your hands.</p>
          <p>Empathy is a critical tool that anyone can use to build success with their online endeavors.</p>
          <footer>
            <a href="/#contact" href="#services">Provide Feedback &raquo;</a>
          </footer>
        </article>

      </section>

    </div>
  </div>


  <br>
<footer class="footer">
  <div class="container">
    <p class="copyright">For the ♥ of the Internet &copy; {{date}}</p>
  </div>
</footer>
</section>
