<!--<img class="full-bg" src="/images/guitar.jpg" du-parallax y="background" alt="htmelvis large guitar" />-->

<section class="main">
  <div duration="800" class="opening container">
    <section class="intro">
      <h1 id="sub" class="rotate-1">
        <span class="interchange">
          <span class="is-visible">I'm Ed, An Entrepreneur.</span>
          <span>I'm Ed, A Father.</span>
          <span>I'm Ed, A Web Worker.</span>
          <span>I'm Ed, A Husband.</span>
          <span>I'm Ed, A Digital Marketer.</span>
          <span>I'm Ed, Designer.</span>
        </span>
      </h1>
      <h2 id="sub2" class="rotate-1">
        <span class="interchange">
          <span class="is-visible">I build websites.</span>
          <span>I sell products online.</span>
          <span>I build web applications.</span>
          <span>I design beautiful UIs.</span>
          <span>I solve problems.</span>
        </span>
      </h2>
    </section>
     <a class="btn btn-primary btn-lg btn-callout" href="#contact" du-smooth-scroll duration="700">Build One <i class="glyphicon glyphicon-circle-arrow-right get-started"></i></a>
  </div>
</section>

<section id="about" class="about">
	<div class="bio container">
    <h1>Design, Development, and Digital Marketing</h1>
		<h4>I like to make sites look better and run much faster.</h4>
		<section class="row">
			<aside class="col-xs-12 col-md-3 col-lg-3 col-xl-2">
		  	<!--<img src="images/ed.jpg" alt="Ed Wieczorek" class="img-responsive img-thumbnail" />-->
			 <h2>Get in touch</h2>

			 <ul>
			 	<li>
			 		<a href="http://www.twitter.com/htmelvis">@htmelvis</a>
			 	</li>
			 	<li><a href="http://www.github.com/htmelvis">Github</a></li>
			 	<li><a href="http://www.linkedin.com/profile/view?id=49431203&amp;goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&amp;trk=spm_pic">LinkedIn</a></li>
       </ul>
			 <!-- <a href="resume.pdf" class="resume btn btn-info">Download Resume<i class="glyphicon glyphicon-save"></i></a> -->
		  </aside>
		 <article class="col-xs-12 col-md-8 col-lg-8 col-xl-8">
			<header>
			  <h2 class="accent">Run Faster. Rank Higher. Operate easier.</h2>
			</header>
        <p>My websites run faster, rank higher in search engines and are overall easier to use. Get in touch with me to see if I can help you. </p>
				<p>Started out designer currently an Internet Consultant, Front End Dev, Web Worker, Father, and Husband. I enjoy writing HTML, CSS, and Javascript. I am currently working as a E-Commerce Specialist/Lead Web Developer for a large manufacturer. I focus on e-commerce, search engine optimization and web application development.</p>
				<p>Clean, simple, customer-tested User Interfaces are some of my favorite things. I jump at the opportunity to work on interesting, ambitious projects.</p>

				<p> I'm always trying to learn new things and expand my skills. I still play music, ride BMX bikes, and enjoy spending as much time as I can with my wonderful young family.  </p>
			<footer>
				<a du-smooth-scroll duration="500" href="#services">How I Like to Help &raquo;</a>
			</footer>
		  </article>

		</section>

	</div>

</section>

<section class="services" id="services">
	<div class="service container">
		<h1>What Do I Do?</h1>
    <h4>I generate more traffic, engage users better, and sell products. </h4>

		<article>

			<h5>How I do that: </h5>
			<ul>
				<li>Web Performance Optimization</li>
				<li>SEO - Digital Search Marketing</li>
				<li>Web Application Branding and Re Design</li>
				<li>Web Growth Opportunity Consultations</li>
				<li>UI/UX Design</li>
				<li>Web Development</li>
			</ul>

			<p>In the past few years I've had the pleasure of work on projects with some of the best in all industries including: US Netting, St. Vincent Hospital, Voodoo Brewery, Beaumont Technologies, Welder's Supply, RJ Corman Railpower, The Uganda Project, Atlas &amp; Mason, ASTA-USA, Kelly Bros,  Solenoid Solutions, Knox Computer Solutions, TM Filtration, and many more.</p>
      <p>I've enjoyed an enriched journey because of the aforementioned companies. I find it of great pleasure to learn about new industries and explore ways to ignite their presence.  </p>
		</article>
	</div>
</section>

<section id="contact" class="contact">
	<div class="container">
		<h2>Let me know how I can help you</h2>
	<div class="success">
		<p>{{message}}</p>
	</div>
	<form name="contactForm" ng-submit="submitForm(contactForm.$valid)" ng-hide="message" class="form row" novalidate>
		<input type="text" class="hidden" name="honeypot" />
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
		<div class="form-group" ng-class="{'has-error': contactForm.name.$invalid && !contactForm.name.$pristine }">
			<label for="name" class="control-label">Name: </label>
			<input tabindex="1" type="text" id="name" name="name" ng-minlength="2" ng-model="formData.name" class="form-control" required>
		</div>

	  </div>
	  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
		<div class="form-group" ng-class="{'has-error': contactForm.email.$invalid && !contactForm.email.$pristine }">
			<label for="email" class="control-label">Email: </label>
			<input type="email" tabindex="2" id="email" ng-model="formData.email" name="email" class="form-control" required>

		</div>
	  </div>

	  <div class="col-xs-12">
	  	<div class="form-group" ng-class="{'has-error':contactForm.message.$invalid && !contactForm.message.$pristine }">

	  	<label for="message" class="control-label">Your Message: </label>
	  	<p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="help-block">Please write me a brief message!</p>
	  	<textarea tabindex="5" name="message" ng-model="formData.message" class="textarea form-control" id="message" cols="30" rows="10" required></textarea>
	  </div>
	  </div>
	  <div class="col-xs-12">
	  	<input ng-disabled="contactForm.$invalid" type="submit" class="btn btn-block btn-lg btn-info" value="Send It">
	  </div>

	</form>

	</div>
</section>

<footer class="footer">
	<div class="container">
		<p class="copyright">For the ♥ of the Internet &copy; {{date}}</p>
	</div>
</footer>
